<form class="editable flexcol" autocomplete="off">

    {{!-- {{#if isGM}} --}}
    <header class="sheet-header">
        <img src="{{imgitem}}" data-edit="img" title="{{nameitem}}" height="64" width="64"/>
        <h1><input id="nameitem" name="nameitem" type="text" value="{{nameitem}}" placeholder="Name" disabled/></h1>
    </header>

    <fieldset>

        <legend>LIGHTHUD NOTES AND COMMON SETTINGS</legend>
        <p>NOTE: For security reason (human error mostly) no previous ATE effect is removed in automatic, if you have multiple ATE effects on the item you must remove these manually from the effect tab of the item</p>
        <p>NOTE: if a configuration with flags and an active effect ate are present at the same time in the current item, the priority goes to the active effect.</p>

        <hr>

        <div class="form-group stacked">
            <div class="form-group">
                <label>Enable LightHUD for this item ?</label>
                <div class="form-fields">
                    <input id="enable" name="flags.lights-hud-ate.enable" type="checkbox" 
                        value="{{flags.lights-hud-ate.enable}}"
                        {{checkedIf flags.lights-hud-ate.enable}}/>
                </div>
            </div>
        </div>

        <div class="form-group stacked">
            <div class="form-group">
                <label>Effect Name (Optional)</label>
                <div class="form-fields">
                    <input id="name" name="flags.lights-hud-ate.name" type="text" placeholder="" value="{{flags.lights-hud-ate.name}}" />
                </div>
            </div>
        </div>

        {{#if isATEActive}}
            <p>{{localize "lights-hud-ate.note.isATEActive.label1"}}</p>
            <p>{{localize "lights-hud-ate.note.isATEActive.label2"}}</p>
            <div class="form-group stacked">
                <div class="form-group">
                    <label>Apply as ATE/ATL Effect on the item ?</label>
                    <div class="form-fields">
                        <input id="apply-as-atl-ate" name="flags.lights-hud-ate.apply-as-atl-ate" type="checkbox" 
                            value="{{flags.lights-hud-ate.apply-as-atl-ate}}"
                            {{checkedIf flags.lights-hud-ate.apply-as-atl-ate}}/>
                    </div>
                </div>
            </div>
        {{/if}}

        <div class="form-group stacked">
            <div class="form-group">
                <label>Lock rotation:</label>
                <div class="form-fields">
                    <input id="lock-rotation" name="flags.lights-hud-ate.lock-rotation" type="checkbox" 
                        value="{{flags.lights-hud-ate.lock-rotation}}"
                        {{checkedIf flags.lights-hud-ate.lock-rotation}}/>
                </div>
            </div>
        </div>
    </fieldset>

    <hr>

    {{!-- START PRESET SETTINGS --}}

    <fieldset>

        <legend>LIGHTHUD SETTINGS (BASIC)</legend>

        <div class="form-group stacked">
            <div class="form-group">
                <label>Use basic configuration ?</label>
                <div class="form-fields">
                    <input id="use-basic" name="flags.lights-hud-ate.use-basic" type="checkbox" 
                        value="{{flags.lights-hud-ate.use-basic}}"
                        {{checkedIf flags.lights-hud-ate.use-basic}}/>
                </div>
            </div>
        </div>

        <div class="form-group stacked">
            <div class="form-group">
                <label>Vision Type:</label>
                <div class="form-fields">
                    <select id="vision-type" name="flags.lights-hud-ate.vision-type" is="ms-dropdown-ligthhudate">
                        {{#each visions as |vision|}}
                            <option data-image="{{vision.img}}" {{#isOptionSelected "flags.lights-hud-ate.vision-type"}} value="{{vision.id}}" {{/isOptionSelected}}>{{localize vision.name}}</option>
                        {{/each}}
                    </select>
                </div>
            </div>
        </div>
        <div class="form-group stacked">
            <div class="form-group">
                <label>Light Source:</label>
                <div class="form-fields">
                    <select id="light-source" name="flags.lights-hud-ate.light-source" is="ms-dropdown-ligthhudate">
                        {{#each lights as |lightSource|}}
                            <option data-image="{{lightSource.img}}" {{#isOptionSelected "flags.lights-hud-ate.light-source"}} value="{{lightSource.id}}" {{/isOptionSelected}}>{{localize lightSource.name}}</option>
                        {{/each}}
                    </select>
                </div>
            </div>
        </div>
        <div class="form-group stacked">
            <div class="form-group">
                <label>Light Color Basic</label>
                <div class="form-fields">
                    <input id="light-color-basic" name="flags.lights-hud-ate.light-color-basic" type="color"  value="{{flags.lights-hud-ate.light-color-basic}}">
                </div>
            </div>
        </div>
        <div class="form-group stacked">
            <div class="form-group">
                <label>Color Intensity Basic</label>
                <div class="form-fields">
                    <input id="light-alpha-basic" name="flags.lights-hud-ate.light-alpha-basic" type="number" min="0" max="1" placeholder="0-1" value="{{flags.lights-hud-ate.light-alpha-basic}}"></input>
                </div>
            </div>
        </div>
    </fieldset>

    {{!-- END PRESET SETTINGS --}}

    <hr>

    {{!-- START ATL SETTINGS ADVANCED --}}
    <fieldset>

        <legend>LIGHTHUD+ATE SETTINGS (ADVANCED)</legend>

        <div class="form-group stacked">
            <div class="form-group">
                <label>Use advanced configuration ?</label>
                <div class="form-fields">
                    <input id="use-advanced" name="flags.lights-hud-ate.use-advanced" type="checkbox" 
                        value="{{flags.lights-hud-ate.use-advanced}}"
                        {{checkedIf flags.lights-hud-ate.use-advanced}}/>
                </div>
            </div>
        </div>

        <div class="form-group stacked">
            <div class="form-group">
                <label>Duration in Minutes:</label>
                <div class="form-fields">
                    <input id="duration" name="flags.lights-hud-ate.duration" type="number" min="0" placeholder="Duration in minutes" value="{{flags.lights-hud-ate.duration}}" />
                </div>
            </div>
        </div>

        <h3>Token Data</h3>
        <div class="form-group slim lights-hud-ate-sub-group">
            <label>Size (Only for ATL integration)</label>
            <div class="form-fields">
                    <label>Height</label>
                    <input id="height" name="flags.lights-hud-ate.height" type="number" value="{{flags.lights-hud-ate.height}}"></input>
                    <label>Width</label>
                    <input id="width" name="flags.lights-hud-ate.width" type="number" value="{{flags.lights-hud-ate.width}}"></input>
                    <label>Scale</label>
                    <input id="scale" name="flags.lights-hud-ate.scale" type="number" value="{{flags.lights-hud-ate.scale}}"></input>
            </div>
        </div>
        <div class="form-group slim lights-hud-ate-sub-group">
            <label>Other</label>
            <div class="form-fields">
                    <label>Alpha</label>
                    <input id="alpha" name="flags.lights-hud-ate.alpha" type="number" value="{{flags.lights-hud-ate.alpha}}"></input>
                    <label>Vision Mode</label>
                    <input id="sight-vision-mode" name="flags.lights-hud-ate.sight-vision-mode" type="text" value="{{flags.lights-hud-ate.sight-vision-mode}}"></input>
            </div>
        </div>
        <div class="form-group slim lights-hud-ate-sub-group">
            <label>Vision</label>
            <div class="form-fields">
                    <label>Dim</label>
                    <input id="sight-dim" name="flags.lights-hud-ate.sight-dim" type="number" value="{{flags.lights-hud-ate.sight-dim}}"></input>
                    <label>Bright</label>
                    <input id="sight-bright" name="flags.lights-hud-ate.sight-bright" type="number" value="{{flags.lights-hud-ate.sight-bright}}"></input>
            </div>
        </div>
        <div class="form-group slim lights-hud-ate-sub-group">
        <label>Vision Angle</label>
            <div class="form-fields">
                <input id="sight-angle" name="flags.lights-hud-ate.sight-angle" type="number" min="0" max="360" step="1" value="{{flags.lights-hud-ate.sight-angle}}"></input>
            </div>
        </div>
        <h3>Lighting</h3>
        <div class="form-group slim lights-hud-ate-sub-group">
            <label>Light Radius</label>
            <div class="form-fields ">
                    <label>Dim</label>
                    <input id="light-dim" name="flags.lights-hud-ate.light-dim" type="number" value="{{dim}}"></input>
                    <label>Bright</label>
                    <input id="light-bright" name="flags.lights-hud-ate.light-bright" type="number" value="{{bright}}"></input>
            </div>
        </div>
        <div class="form-group slim lights-hud-ate-sub-group">
            <label>Emission Angle</label>
            <div class="form-fields">
                <input id="light-angle" name="flags.lights-hud-ate.light-angle" type="number" min="0" max="360" step="1" value="{{flags.lights-hud-ate.light-angle}}"></input>
            </div>
        </div>
        <div class="form-group slim lights-hud-ate-sub-group">
            <label>Light Color</label>
            <div class="form-fields">
                <input type="color" id="light-color" name="flags.lights-hud-ate.light-color" value="{{flags.lights-hud-ate.light-color}}">
            </div>
        </div>
        <div class="form-group slim lights-hud-ate-sub-group">
            <label>Color Intensity</label>
            <div class="form-fields">
                <input id="light-alpha" name="flags.lights-hud-ate.light-alpha" type="number" min="0" max="1" placeholder="0-1" value="{{flags.lights-hud-ate.light-alpha}}"></input>
            </div>
        </div>
        <h3>Animation</h3>
        <div class="form-group lights-hud-ate-sub-group">
            <label>Animation Type</label>
            <div class="form-fields">
                <select id="light-animation-type" name="flags.lights-hud-ate.light-animation-type" is="ms-dropdown-ligthhudate">
                    {{#each animationTypes as |animationType|}}
                        <option data-image="{{animationType.img}}" {{#isOptionSelected "flags.lights-hud-ate.light-animation-type"}} value="{{animationType.id}}" {{/isOptionSelected}}>{{localize animationType.name}}</option>
                    {{/each}}
                </select>
            </div>
        </div>
        <div class="form-group lights-hud-ate-sub-group">
            <label>Animation Speed</label>
            <div class="form-fields">
                <input id="light-animation-speed" name="flags.lights-hud-ate.light-animation-speed" type="range" min="1" max="10" step="1"
                value="{{flags.lights-hud-ate.light-animation-speed}}"></input>
            </div>
        </div>
        <div class="form-group lights-hud-ate-sub-group">
            <label>Reverse Direction</label>
            <div class="form-fields">
                <input id="animationReverse" name="flags.lights-hud-ate.light-animation-reverse" type="checkbox" 
                value="{{flags.lights-hud-ate.light-animation-reverse}}"
                {{checkedIf flags.lights-hud-ate.light-animation-reverse}}/>
            </div>
        </div>
        <div class="form-group lights-hud-ate-sub-group">
            <label>Animation Intensity</label>
            <div class="form-fields">
                <input id="light-animation-intensity" name="flags.lights-hud-ate.light-animation-intensity" type="range" min="1" max="10" step="1"
                value="{{flags.lights-hud-ate.light-animation-intensity}}"></input>
            </div>
        </div>
        <h3>Advanced Animation</h3>
        <div class="form-group lights-hud-ate-sub-group">
            <label>Coloration Technique</label>
            <div class="form-fields">
                <select id="light-coloration" name="flags.lights-hud-ate.light-coloration" data-dtype="Number" is="ms-dropdown-ligthhudate">
                    {{#each colorationTypes as |colorationType|}}
                        <option data-image="{{colorationType.img}}" {{#isOptionSelected "flags.lights-hud-ate.light-coloration"}} value="{{colorationType.id}}" {{/isOptionSelected}}>{{localize colorationType.name}}</option>
                    {{/each}}
                </select>
            </div>
        </div>

        <div class="form-group lights-hud-ate-sub-group">
            <label>Luminosity</label>
            <div class="form-fields">
                <input id="light-luminosity" name="flags.lights-hud-ate.light-luminosity" type="range" value="{{flags.lights-hud-ate.light-luminosity}}" min="-1" max="1" step="0.05">
                <span class="range-value">0.5</span>
            </div>
        </div>

        <div class="form-group lights-hud-ate-sub-group">
            <label>Gradual Illumination</label>
            <div class="form-fields">
                <input id="light-gradual" name="flags.lights-hud-ate.light-gradual" type="checkbox" 
                value="{{flags.lights-hud-ate.light-gradual}}"
                {{checkedIf flags.lights-hud-ate.light-gradual}}/>
            </div>
        </div>

        <div class="form-group lights-hud-ate-sub-group">
            <label>Background Saturation</label>
            <div class="form-fields">
                <input id="light-saturation" name="flags.lights-hud-ate.light-saturation" type="range" value="{{flags.lights-hud-ate.light-saturation}}" min="-1" max="1" step="0.05">
            </div>
        </div>

        <div class="form-group lights-hud-ate-sub-group">
            <label>Background Contrast</label>
            <div class="form-fields">
                <input id="light-contrast" name="flags.lights-hud-ate.light-contrast" type="range" value="{{flags.lights-hud-ate.light-contrast}}" min="-1" max="1" step="0.05">
            </div>
        </div>

        <div class="form-group lights-hud-ate-sub-group">
            <label>Background Shadows</label>
            <div class="form-fields">
                <input id="light-shadows" name="flags.lights-hud-ate.light-shadows" type="range" value="{{flags.lights-hud-ate.light-shadows}}" min="0" max="1" step="0.05">
            </div>
        </div>
    </fieldset>
    <footer class="sheet-footer flexrow">
        <!--
        <button type="submit"><i class="fas fa-save"></i> {{ localize "buttons.saveMacro" }}</button>
        <button class="execute" type="button"><i class="fas fa-dice-d20"></i> {{ localize "buttons.executeMacro" }}</button>
        -->
    </footer>
    {{!-- {{/if}} --}}
</form>
